* {
    box-sizing: border-box;
}

/*background effects */
#image {
    background-color: rgb(231, 90, 90);
    background-image: url(shopping-bag.jpg);
    height: 100vh;
    width: 100vw;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}

#header {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color: coral;
}

#head {
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: white;
}

#addBtn {
    background-color: green;
}

#markP {
    background-color: purple;
}

#btnDanger {
    background-color: red;
}

#itemsDisplay {
    margin-top: 20px;
}

#itemsOl {
    list-style-type: decimal;
    padding-left: 20px;
}

#itemsOl li.purchased {
    text-decoration: line-through;
    color: pink;
}

#itemsOl li.selectable {
    cursor: pointer;
}

#itemsOl li.selected {
    background-color: lightgrey;
}